name: PR - run test
on:
  pull_request

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:

    - name: checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: 1.22

    - name: make test
      run: make test
